<ion-header>
  <ion-toolbar color="newcolor">
    <ion-buttons slot="start" *ngIf="isLogged">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" text-center>Seguimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-list>
    <ion-item>
      <ion-label>
      	<b>Historial: </b>
      	<h6>*Sin estrés (24), Estrés leve (36),</h6>
      	<h6>&nbsp;&nbsp;Estrés medio (48), Estrés alto (60),</h6>
      	<h6>&nbsp;&nbsp;Estrés grave(72)</h6>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let resultado of resultados">
      <ion-label>
      	<h4>Resultado: {{resultado.total}}</h4> 
        <h4>Fecha: {{resultado.created_at}}</h4>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
